body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin: 20px 0;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 5px 0;
}
