<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="{{ url_for('add_task') }}" method="POST">
        <h1>Lista de Tarefas</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <input type="text" name="title" placeholder="Nova tarefa">
        <button type="submit">Adicionar</button>
    </form>

    <div style="margin-top: 20px; width: 300px;">
        {% for task in tasks %}
            <div style="background-color: #fff; padding: 10px; margin-bottom: 8px; border-radius: 8px; display: flex; justify-content: space-between; align-items: center;">
                <span {% if task.done %}style="text-decoration: line-through; color: #888;"{% endif %}>{{ task.title }}</span>
                <div>
                    <form action="{{ url_for('toggle', id=task.id) }}" method="GET" style="display:inline;">
                        <button type="submit" class="task-btn">
                            {% if task.done %}Desmarcar{% else %}Concluir{% endif %}
                        </button>
                    </form>

                    <form action="{{ url_for('edit', id=task.id) }}" method="GET" style="display:inline;">
                        <button type="submit" class="task-btn">Editar</button>
                    </form>

                    <form action="{{ url_for('delete', id=task.id) }}" method="GET" style="display:inline;">
                        <button type="submit" class="task-btn">Excluir</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <p><a href="{{ url_for('logout') }}">Sair</a></p>
</body>
</html>
